from typing import Dict, Any, Optional
from src.protocols.handler_strategies.base import BaseStrategy

{% for func in functions if not func.is_view %}
class {{ func.name|camel_case }}Strategy(BaseStrategy):
    def get_params(self, agent, client, chain) -> Optional[Dict[str, Any]]:
        sender = self.get_sender(agent)
        if not sender:
            return None
            
        return {
            'sender': sender,
            'value': 0
            {% for inp in func.inputs %}
            ,'{{ inp.name }}{% if inp.name in ["from", "to", "in", "import", "class", "def", "return", "pass"] %}_{% endif %}': None
            {% endfor %}
        }

{% endfor %}